{% extends 'master/base.html' %}

{% block body %}
  <title>Log | In</title>
  <h1>Log | In</h1>
  {% include 'master/message.html' %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Username</label>
      <input name="username" type="text" class="form-control" id="exampleFormControlInput1" placeholder="username" />
    </div>
    <div>
      <label for="exampleFormControlInput1" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="exampleFormControlInput1" placeholder="password" />
    </div>
    <div class="mb-5" style="margin-top: 10px;">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
{% endblock %}
